$base: aliceblue;
$jumboTitle: black;
$fontColor: white;
$footer: rgb(68, 106, 139);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

#espacioNavbar {
    @include margenes(58px, 0px);

}

footer {
    padding: 20px 10px 0 10px;
    background-color: $footer;
    @include margenes(10px, 0px);
    font-size: 66%;
    color: $fontColor;
}